<sidebar class="p-2 transition ease-linear delay-300 flex flex-col w-48 h-full hover:bg-slate-800" ...attributes>
  <img class="" id="logoHeader" src="/assets/images/logo.png" alt="Sawcon is the best"/>
  <a href="/#sContent" class="text-red-800">Shop</a>
  <a href="/lookbook" class="transition ease-linear delay-300 text-red-800 hover:text-white">Lookbook</a>
  <a href="/cart" class="transition ease-linear delay-300 text-red-800 hover:text-white">Cart</a>
</sidebar>